/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* grijs #899CA0 en donkergroen #1C2B32 */

/*////////////////////////
    1. Global Styles
////////////////////////*/

body {
    font-family: Poppins, sans-serif;
    color: #1C2B32;
    text-align: center;
}

/*////////////////////////
    2. Typography
////////////////////////*/

.header {
    font-family: Poppins, sans-serif;
}

/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/
.header {
    width: 100%;
    min-height: 600px;
    text-align: center;
    overflow: visible;

    background-image: url('assets/images/mountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1 {
    position: relative;
    padding-top: 70px;
    font-size: 80px;
    max-width: 100%;
    color: #1C2B32;
    text-align: center;
    white-space: normal;
}

.header-tekst {
    font-size: 12px;
    margin-top: 10px;
    flex-wrap: wrap;
    color: #1C2B32;
    bottom: 230px;
    padding-bottom: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;


    .check {
        background-color: #1C2B32;
        color: #fffdf1;
        font-family: Poppins, sans-serif;
        font-size: 13px;
        margin-top: 10px;
    }

    button {
        width: 200px;
        height: 55px;
        border-radius: 0 25px 25px 0;
        border-color: #1C2B32;
        border-style: double;
        text-align: center;
        pointer-events: auto;
        position: relative;
        z-index: 10;

    }
    button:hover {
        background-color: #304148;
    }
    button:active {
        background-color: #4d5f66;
    }

    #domein {
        width: 250px;
        height: 55px;
        margin-top: 10px;
        border-radius: 25px 0 0 25px;
        border-color: #1C2B32;
        border-style: double;
        flex-wrap: wrap;
        background-color: transparent;
        font-family: Poppins, sans-serif;
        text-align: center;
    }

}

input::placeholder {
    color: #1C2B32;
}

/*///////////// 3.2 Main /////////////*/
main {
    max-width: 1000px;
    margin: auto;
}

.sectie-beoordelingen {
    padding-top: 40px;
}

.sectie-support {

}

.callcenter-foto {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

/*///////////// 3.3 Support /////////////*/


/*///////////// 3.4 Faq /////////////*/


/*///////////// 3.5 Footer /////////////*/