/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* grijs #899CA0 en donkergroen #1C2B32 */

/*////////////////////////
    1. Global Styles
////////////////////////*/

body {
    font-family: Poppins, sans-serif;
    color: #1C2B32;
    text-align: center;
}

a {
    color: grey;
}

a:hover {
    color: grey;
    text-decoration: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/

.header {
    font-family: Poppins, sans-serif;
}

/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/
.header {
    width: 100%;
    min-height: 600px;
    text-align: center;
    overflow: visible;

    background-image: url('assets/images/mountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1 {
    position: relative;
    padding-top: 70px;
    font-size: 80px;
    max-width: 100%;
    color: #1C2B32;
    text-align: center;
    white-space: normal;
}

.header-tekst {
    font-size: 12px;
    margin-top: 10px;
    flex-wrap: wrap;
    color: #1C2B32;
    bottom: 230px;
    padding-bottom: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;


    .check {
        background-color: #1C2B32;
        color: #fffdf1;
        font-family: Poppins, sans-serif;
        font-size: 13px;
        margin-top: 10px;
    }

    button {
        width: 200px;
        height: 55px;
        border-radius: 0 25px 25px 0;
        border-color: #1C2B32;
        border-style: double;
        text-align: center;
        pointer-events: auto;
        position: relative;
        z-index: 10;

    }

    button:hover {
        transition: background-color 0.3s ease;
        background-color: #304148;
    }

    button:active {
        background-color: #4d5f66;
    }

    #domein {
        width: 250px;
        height: 55px;
        margin-top: 10px;
        border-radius: 25px 0 0 25px;
        border-color: #1C2B32;
        border-style: double;
        flex-wrap: wrap;
        background-color: transparent;
        font-family: Poppins, sans-serif;
        text-align: center;
    }

}

input::placeholder {
    color: #1C2B32;
}

/*///////////// 3.2 Main /////////////*/
main {
    max-width: 1000px;
    margin: auto;
}

.sectie-beoordelingen {
    padding-top: 40px;
}

.review-box {
    background-color: white;
    color: #1C2B32;
    padding: 20px 40px 40px 40px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 50px auto;
    text-align: start;
    font-size: 13px;
}

.review-tekst {
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.quote {
    position: relative;
    top: 30px;
}
.klant-naam {
    margin-bottom: 20px;
    margin-left: 50px;
    font-style: italic;
    text-align: left;
    position: relative;
}

.klant-naam-2 {
    margin-bottom: 20px;
    margin-left: 50px;
    font-style: italic;
    text-align: left;
    position: relative;

}

.foto-jane {
    width: 44px;
    position: relative;
    top: 15px;
    vertical-align: baseline;
    margin-right: 20px;
}

.foto-john {
    width: 44px;
    position: relative;
    top: 15px;
    vertical-align: baseline;
    margin-right: 20px;
}

/*///////////// 3.3 Support /////////////*/
.sectie-support {
    text-align: left;
}

.callcenter-foto {
    width: 100%;
    position: relative;
    border-radius: 15px;
    margin-top: 40px;

}

.callcenter-tekst {
    position: relative;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
}

/*///////////// 3.4 Faq /////////////*/
.neem-contact-op-knop {
    font-family: Poppins, sans-serif;
    background-color: #1C2B32;
    color: white;
    border-radius: 50px;
    width: 170px;
    height: 55px;
    margin-top: 20px;
    position: relative;
}

.neem-contact-op-knop:hover {
    background-color: #304148;
    transition: background-color 0.3s ease;
}

.sectie-faq {
    text-align: left;
    margin-bottom: 60px;
    margin-top: 20px;
}

.veelgestelde-vragen-titel {
    margin-bottom: 40px;
    margin-top: 40px;
}

.faq-vragen-tekst {
    background-color: #74868d;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    padding: 25px 25px 25px 25px;
}

summary {
    cursor: pointer;
}

/*///////////// 3.5 Footer /////////////*/
#footer {
    background-color: #1C2B32;
    text-align: center;
    color: white;
    font-size: 10px;
    height: 70px;
    padding-top: 30px;
}